<div class="container" id="edit-style">
  <div class="card">
    <div class="card-header">Nombre de fois d'utilisation des piéces détachées: </div>
    <div class="card-body">
      <div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Nom du Piéce Détachée</label>
              <input class="form-control" type="text" *ngIf="pieceDetachee" [(ngModel)]="pieceDetachee.nom" disabled/>
            </div>
          </div>

        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label">Nombre de fois d'utilisation</label>
            <input class="form-control" type="number" [(ngModel)]="count" disabled/>
          </div>
        </div>

      </div>
    </div>
      </div>
      </div>
    </div>




