<div class="container" id="edit-style">
  <div class="card">
    <div class="card-header">Nouveau Dossier: </div>
      <div class="card-body">
        <div>

          <div class="row">
            <div class="col-6">
          <div class="form-group">
            <label class="col-form-label">Numéro</label>
            <input class="form-control" type="text" [(ngModel)]="dossier.numero"/>
          </div>
            </div>
            <div class="col-6">
          <div class="form-group">
            <label class="col-form-label">Date de Création</label>
            <input class="form-control" type="date" [(ngModel)]="dossier.dateCreation"/>
          </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
          <div class="form-group">
            <label class="col-form-label">Statut</label>
            <select class="custom-select" [(ngModel)]="dossier.statut">
              <option>En cours</option>
            </select>
          </div>
            </div>

            <div class="col-6">
          <div class="form-group">
            <label class="col-form-label">Observation</label>
            <input class="form-control" type="text" [(ngModel)]="dossier.observation"/>
          </div>
            </div>
          </div>

          <button class="btn btn-primary" (click)="saveDossier()">Save</button>

        </div>
      </div>
  </div>

</div>
