<div class="container" id="edit-style">
  <div class="card">
    <div class="card-header">Informations générales sur la demande de réparation: </div>
    <div class="card-body">
      <div>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Numéro</label>
                <input class="form-control" type="text" *ngIf="demandeReparation" [(ngModel)]="demandeReparation.numero"/>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Date de création</label>
                <input class="form-control" type="date" *ngIf="demandeReparation" [(ngModel)]="demandeReparation.dateCreation"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Observation</label>
                <input class="form-control" type="text" *ngIf="demandeReparation" [(ngModel)]="demandeReparation.observation"/>
              </div>
            </div>
          </div>

          <div class="row">
            <button class="btn btn-primary" (click)="updateDemandeReparation()">Save</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div>
    <app-taches *ngIf="demandeReparation" [id]="demandeReparation.id"></app-taches>
  </div>

</div>
