<div class="container" id="edit-style">
  <div class="card">
    <div class="card-header">Informations générales sur le Fournisseur: </div>
    <div class="card-body">
      <div>

        <div class="row">
          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Adresse</label>
          <input class="form-control" type="text" *ngIf="fournisseur" [(ngModel)]="fournisseur.adresse"/>
        </div>
          </div>

          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Nom</label>
          <input class="form-control" type="text" *ngIf="fournisseur" [(ngModel)]="fournisseur.nom"/>
        </div>
          </div>
        </div>

        <button class="btn btn-primary" (click)="updateFournisseur()">Save</button>

      </div>
    </div>
  </div>

  <div>
    <app-commandes *ngIf="fournisseur" [id]="fournisseur.id"></app-commandes>
  </div>

</div>
