<div class="container">
  <div class="row">
    <div class="col" id="table-style">
      <h4>Liste des Fournisseurs</h4>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Adresse</th> <th>Nom</th> <th>Editer</th> <th *ngIf="authority==='admin'">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fournisseur of pageFournisseurs?.content">
          <td *ngIf="fournisseur.nom!='Rien'">{{fournisseur.adresse}}</td>
          <td *ngIf="fournisseur.nom!='Rien'">{{fournisseur.nom}}</td>
          <td *ngIf="fournisseur.nom!='Rien'"><button type="button" class="btn btn-primary" (click)="onEditFournisseur(fournisseur.id)">Editer</button></td>
          <td *ngIf="fournisseur.nom!='Rien'"><div *ngIf="authority==='admin'"><button type="button" class="btn btn-danger" (click)="onDeleteFournisseur(fournisseur)">Supprimer</button></div></td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="authority==='admin'">
        <button type="button" routerLink="/ajouter-fournisseur" class="btn btn-primary">Ajouter Fournisseur</button>
      </div>
    </div>
  </div>
</div>

