<div class="container" id="edit-style">
  <div class="card">
    <div class="card-header">Nouvelle Agence Assurance: </div>
    <div class="card-body">
      <div>

        <div class="row">
          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Adresse</label>
          <input class="form-control" type="text" [(ngModel)]="agenceAssurance.adresse"/>
        </div>
          </div>

          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Email</label>
          <input class="form-control" type="email" [(ngModel)]="agenceAssurance.email"/>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Fax</label>
          <input class="form-control" type="tel" [(ngModel)]="agenceAssurance.fax"/>
        </div>
          </div>

          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Raison Sociale</label>
          <input class="form-control" type="text" [(ngModel)]="agenceAssurance.raisonSociale"/>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Téléphone</label>
          <input class="form-control" type="tel" [(ngModel)]="agenceAssurance.telephone"/>
        </div>
          </div>

          <div class="col-6">
        <div class="form-group">
          <label class="col-form-labell">Ville</label>
          <input class="form-control" type="text" [(ngModel)]="agenceAssurance.ville"/>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Description</label>
          <input class="form-control" type="text" [(ngModel)]="agenceAssurance.description"/>
        </div>
          </div>

          <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Compagnie Assurance</label>

          <select class="custom-select" [(ngModel)]="id1">
            <option *ngFor="let compagnieAssurance of pageCompagniesAssurances?.content" [value]="compagnieAssurance.id">{{compagnieAssurance.raisonSociale}}</option>
          </select>
        </div>
          </div>
        </div>

        <button class="btn btn-primary" (click)="saveAgenceAssurance(id1)">Save</button>

      </div>
    </div>
  </div>

</div>
