<div class="container">
  <div class="row">
    <div class="col" id="table-style">
      <h4>Liste des Contacts</h4>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Nom</th> <th>Prénom</th> <th>Poste</th> <th>Téléphone</th> <th>Email</th> <th>Editer</th> <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contactAgenceAssurance of listContactsAgencesAssurances">
          <td *ngIf="contactAgenceAssurance">{{contactAgenceAssurance.nom}}</td>
          <td *ngIf="contactAgenceAssurance">{{contactAgenceAssurance.prenom}}</td>
          <td *ngIf="contactAgenceAssurance">{{contactAgenceAssurance.post}}</td>
          <td *ngIf="contactAgenceAssurance">{{contactAgenceAssurance.telephone}}</td>
          <td *ngIf="contactAgenceAssurance">{{contactAgenceAssurance.email}}</td>
          <td><button type="button" class="btn btn-primary" (click)="onEditContactAgenceAssurance(contactAgenceAssurance.id)">Editer</button></td>
          <td><button type="button" class="btn btn-danger" (click)="onDeleteContactAgenceAssurance(contactAgenceAssurance)">Supprimer</button></td>
        </tr>
        </tbody>
      </table>
      <div>
        <button type="button" (click)="addContactAgenceAssurance(id)" class="btn btn-primary">Ajouter un Contact</button>
      </div>
    </div>
  </div>
</div>

