<div class="container" id="edit-style">
  <div class="card">
    <div class="card-header">Information générales sur la Piéce: </div>
    <div class="card-body">
      <div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Référence</label>
              <input class="form-control" type="text" *ngIf="pieceDetache" [(ngModel)]="pieceDetache.reference"/>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Nom</label>
              <input class="form-control" type="text" *ngIf="pieceDetache" [(ngModel)]="pieceDetache.nom"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Prix</label>
              <input class="form-control" type="number" *ngIf="pieceDetache" [(ngModel)]="pieceDetache.prix"/>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Quantité</label>
              <input class="form-control" type="number" *ngIf="pieceDetache" [(ngModel)]="pieceDetache.quantite"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Commande</label>

              <select class="custom-select" *ngIf="commande1" [(ngModel)]="commande1.id">
                <option *ngFor="let commande of pageCommandes?.content" [value]="commande.id">{{commande.reference}}</option>
              </select>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Etat</label>

              <select class="custom-select" *ngIf="etatPiece1" [(ngModel)]="etatPiece1.id">
                <option *ngFor="let etatPiece of pageEtatPieces?.content" [value]="etatPiece.id">{{etatPiece.nom}}</option>
              </select>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" (click)="updatePieceDetache()">Save</button>

      </div>
    </div>
  </div>

</div>
