<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/iconAUTO.png" width="50" height="30" class="d-inline-block align-top" alt="">
      Expert Auto
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
        <li *ngIf="authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="/utilisateurs">Utilisateurs</a></li>
        <li *ngIf="authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="/statistiques">Statistiques</a></li>
        <li *ngIf="authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="/fournisseurs">Fournisseurs</a></li>
        <li *ngIf="authority === 'admin'" class="nav-item"><a class="nav-link" routerLink="/parametrage">Paramétrage</a></li>
        <li *ngIf="authority === 'accueil'" class="nav-item"><a class="nav-link" routerLink="/dossiers">Dossier</a></li>
        <li *ngIf="authority === 'secretariat'" class="nav-item"><a class="nav-link" routerLink="/dossiers">Dossier</a></li>
        <li *ngIf="authority === 'secretariat'" class="nav-item"><a class="nav-link" routerLink="/fournisseurs">Fournisseurs</a></li>
        <li *ngIf="authority === 'mecanicien'" class="nav-item"><a class="nav-link" routerLink="/dossiers">Dossier</a></li>
        <li *ngIf="authority === 'magasinier'" class="nav-item"><a class="nav-link" routerLink="/dossiers">Dossier</a></li>
        <li *ngIf="authority === 'magasinier'" class="nav-item"><a class="nav-link" routerLink="/fournisseurs">Fournisseurs</a></li>
        <li *ngIf="!authority" class="nav-item"><a class="nav-link" routerLink="auth/login">Login</a></li>
      </ul>
    </div>
    <div *ngIf="authority">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<router-outlet>

</router-outlet>
