<div class="container" id="edit-style">
  <div class="card">
    <div class="card-header">Informations générales sur l'Utilisateur: </div>
    <div class="card-body">
      <div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Prénom</label>
              <input class="form-control" type="text" *ngIf="utilisateur" [(ngModel)]="utilisateur.nom"/>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Nom</label>
              <input class="form-control" type="text" *ngIf="utilisateur" [(ngModel)]="utilisateur.prenom"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Email</label>
              <input class="form-control" type="text" *ngIf="utilisateur" [(ngModel)]="utilisateur.username"/>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Role</label>

              <select class="custom-select" [(ngModel)]="id1">
                <option *ngFor="let role of pageRoles?.content" [value]="role.id">{{role.nom}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="col-form-label">Employé</label>

              <select class="custom-select" *ngIf="collaborateur1" [(ngModel)]="collaborateur1.id">
                <option *ngFor="let collaborateur of pageCollaborateurs?.content" [value]="collaborateur.id">{{collaborateur.prenom+' '+collaborateur.nom}}</option>
              </select>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" (click)="updateUtilisateur()">Save</button>

      </div>
    </div>
  </div>

</div>
